append head
  script(src="/javascripts/bigscreen.js")

h1 Big Screen
//iframe#readerFrame(src='http://onswipe.com/cycleworld?stay=1')
div#box
canvas#myCanvas(width='1024', height='768')
p#coords