!!!
html
  block head
    title= title
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")


    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/jquery.transit.js")
    script(src="/socket.io/socket.io.js")

  body!= body