body
  padding: 0
  margin: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  overflow hidden
a
  color: #00B7FF
h1
  color #d1d1d2
#box
  width 100px
  height 200px
  background pink
  margin-left: 100px
  -webkit-backface-visibility hidden
  -webkit-transform-origin 50%, 50%
  -webkit-translate transform3d(0,0,0)

#area
  width 100%
  height 100%
  margin auto
  top 0
  position absolute
  z-index 2

#myCanvas
  width: 100%
  height 100%
  margin auto
  position absolute
  top 0
  left 0
  background rgb(10,10,10)
  z-index -1

#coords, #well
  font-size 16px
  width 100%
  text-align center

#info
  position absolute
  z-index 1
  padding-left 15px

#readerFrame
  width 1024px
  height 768px